container_commands:
  01_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
    leader_only: true
  02_npm_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
    leader_only: true
  compile: 
    command: "./node_modules/.bin/tsc -p tsconfig.json" 
    env: 
      PATH: /opt/elasticbeanstalk/node-install/node-v12.14.0-linux-x64/bin/
