files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;

          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDTzCCAjegAwIBAgIJALKnwyGq2PyaMA0GCSqGSIb3DQEBBQUAMD4xPDA6BgNV
      BAMMM3RyZWlub2pzLWJhY2tlbmQtaG1sLnNhLWVhc3QtMS5lbGFzdGljYmVhbnN0
      YWxrLmNvbTAeFw0xOTExMjYxMzI1MDBaFw0yOTExMjMxMzI1MDBaMD4xPDA6BgNV
      BAMMM3RyZWlub2pzLWJhY2tlbmQtaG1sLnNhLWVhc3QtMS5lbGFzdGljYmVhbnN0
      YWxrLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALur7Sy/8n4Y
      uMc9zCue+XqyIGmistnwjGLxyBAIyDsiqmldE6wXVjTP3tvE1o35KSLmhsj5ofwh
      erVxYFZkyL+A2yCdUKOec2+MgUwoPK5KGYH1M97qBPXJM/7Lg7XGLOKfb88t0Z3a
      kGZt+o5T5ye6fjcsGx1H9uxfQbHfx9G0nUheW5ZBliYYaSAmD02Qt5xpVmzrzzEG
      m8CMBnfTN/wD0kb6HUYWUO8yzaruyW5ApJzpqlpm5U4yD1UynnXhoT+VG94Uq5kZ
      ro6B3UaYWYORS/tKnOjs7Z1rN/ijCgWhm3oP1JTqV0f6oBSNqLWf19rJwnXsjF2c
      7PkmiC0DgRUCAwEAAaNQME4wHQYDVR0OBBYEFMk4Y414lRIRV6H+oKpmcMwibrcP
      MB8GA1UdIwQYMBaAFMk4Y414lRIRV6H+oKpmcMwibrcPMAwGA1UdEwQFMAMBAf8w
      DQYJKoZIhvcNAQEFBQADggEBABusAVjUBH9zWlo0zSFaBBxSuK7SKRsZ1nVHsMm5
      RcMT+T5/rzek6f615LjLCL0BRpDB+rfp9jah6cl6qS6euaM4KK/aHt1X+B48ePhD
      mnpiLVi5aT9l/IYOotnvXnKMtrBFTOMJxB2zopTc9ru+cF9Dq5+DkMu/CbiNa7dj
      8rXkHMJGQQNm5T5PVt0IdRSuHmPyo1iZ8mi31LgEHJifLr+TXwGRmeWIeuFArXZ5
      IlRyBhZKL0Hevhz59VRNKLIMWsHsCSGEpFIQ3FjFnqBPpAFlKXLVFYt2iBFzdcex
      O7MkUTNfgQ7JM4zQw1+kR8PiXWvwnkvA2ZfhU1coOY+VGk4=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEogIBAAKCAQEAu6vtLL/yfhi4xz3MK575erIgaaKy2fCMYvHIEAjIOyKqaV0T
      rBdWNM/e28TWjfkpIuaGyPmh/CF6tXFgVmTIv4DbIJ1Qo55zb4yBTCg8rkoZgfUz
      3uoE9ckz/suDtcYs4p9vzy3RndqQZm36jlPnJ7p+NywbHUf27F9Bsd/H0bSdSF5b
      lkGWJhhpICYPTZC3nGlWbOvPMQabwIwGd9M3/APSRvodRhZQ7zLNqu7JbkCknOmq
      WmblTjIPVTKedeGhP5Ub3hSrmRmujoHdRphZg5FL+0qc6OztnWs3+KMKBaGbeg/U
      lOpXR/qgFI2otZ/X2snCdeyMXZzs+SaILQOBFQIDAQABAoIBAHZ9bHfOkSowLaoO
      SHRaISXohTJs+QNFLz3hbfFBujor/vAbRipnaZRaklirhNOKtwBEEGGfyzhHYxRg
      CvVBGMZgcvm6mYlUp4mMaq5M0VMxkb1NtXxOwOb2LA/5KqWABCLpi0yBn1FNB9LE
      KWfnbZDV3I61GEF6iFphIjdOFPk/PSwhOsxboC+9mkPjHaOC+NJiTg0wMwC/dd5r
      y8FM0X5LOmem1wRXw/6Ahhi8P4fWiTeR42b5OtFjL20N4w7rODP0YbJZRVcv7g2P
      FUNctsok5q860JTDxYQhK9vEMEaPNq/12aTes/RyfEOo/DcxUaP+lFWajeL7QApB
      3XSTTJkCgYEA3PjnxN99mOyBwkfmsCPHZnE0dE+IKT1H205QpK5HIv1fv2/9pgtW
      14IGl1mdAhE6V93lmEcns2+YPuU2GQAkMBXdmIPpMuA47R8SqF2FlS6xTjBjJRPc
      SFYQmY5D4HlH2FPQMHcysLnc5PtMLx5V73FM574+AR7MaPqhk5ECK+MCgYEA2Wus
      P3HRCkInBBV6AFoTx7NfWOGGC8gy+W2OiEZxq+wpmBlwEb7IevWKUrH37na8nr8F
      fNFnAJsdUS9AV00Khf44NuDKOneWGOVcgUDqHkiAzrwIt6vCZHc8bU+OvS/ZCwiS
      tVX6g1tuPgYuHGDr4xukq8U86CNGpCgVUlAZoKcCgYBOR/tLemUzNK3vVqt5wOMV
      /oq3nak9+tCm94KIJJlc4uf1mMYB+chlBlIxcfS2U8YYdKqunJ6K6cDEn0zf5HXt
      dwGO00Rc2qQwFK72aFM3e1giu++TpgqGsb6lt4mCT1TNZTu+v6t8gguoLwJZOuT0
      s22sN3Ad03xUwF1XOqrLQwKBgGSGOPyYhhslHN7xgxf4jd6uW24/z3dRF+hlNBpj
      35iqt0yArmU1/YGEV3EGoehac7k9/q6ILwSDs1le7HOwxiXPtXQCGN5Rfk+CdHO6
      bMSVpyBupeUt/9Htoz2zI/7qyYIlc5dt6kajlmQM/XLXiRjXJhrZNeDqtnWdpsYJ
      DOBPAoGAJ8xna8nkzis8ue7+lOZ7dSWI9+saOLQ8qz//w46ls7jtC08Da9bN3C2/
      Hl7+fXeZD5DpWrPYU6MP439rrSQSB1mLNYa6VHeMbhULdiQ4DUSH4TehNRBLTStt
      9OWqsR+IEEQv4eM2aBnfWf1eZiJk425eDsMnVvHGez+xD3SztJs=
      -----END RSA PRIVATE KEY-----
